.jumbotron{
    height: 180px;
}

h3 {
    text-align: center;
    color: #CF2B2B;
}

 h4{
    background-color:  #CF2B2B;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#komentar{
    word-break: normal;
    padding: 10px;
    background-color: #E5E5E5; 
    border-radius: 10px;
}
.mb-1{
    word-break: normal;
}