{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Stats</title>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- Slim js does not support jquery tooltip -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock meta %}

{% block content%}

<div class="container utama" style="display: none; text-align: center; padding: 20px 0px 20px;"><h2>Analitik Rumah Sakit</h2></div>
<div class="col-lg-12 col-md-6 d-flex justify-content-around counter utama" style="display: none; padding: 100px 60px 100px;">
	<div class='rounded shadow' style="background-color: rgb(232, 255, 211); padding: 50px">
            Sembuh: {{sembuh}}
    </div>
	<div class='rounded shadow' style="background-color: rgb(255, 89, 89); padding: 50px">
        Positif: {{positif}}
    </div>
	<div class='rounded shadow' style="background-color: rgb(173, 173, 173); padding: 50px">
        Meninggal: {{meninggal}}
    </div>
</div>
<div class="container utama" style="">
    <iframe src="https://public.domo.com/cards/bWxVg" width="100%" height="600" marginheight="0" marginwidth="0" frameborder="0"></iframe>
</div>
    
    
{% endblock %}