{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Edit Pasien</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- Slim js does not support jquery tooltip -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock meta %}

{% block content %}
<div class="container utama" style="display: none;">
    <h2 style="text-align: center; padding: 20px 0px 20px; text-shadow: 1px 1px 2px #dfdfdf;">Edit Patient</h2>
</div>
    <div  style="margin: auto; margin-top: 20px;display: none;" class="d-flex justify-content-center utama">
        <form method="post" style="padding: 20px; background-color: rgb(255, 198, 206);" class="rounded shadow">
            {% csrf_token %}
            <table>
            {% for field in form %}
            <div class="fieldWrapper">
                    <tr>
                        <td>{{ field.errors }}
                            {{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
            </div>
            {% endfor %}
            </table>
            <div style="padding-top: 10px;">
                <input type="submit" value ="Submit">
            </div>
        </form>
    </div>
    
{% endblock %}