{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>List Pasien</title>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- Slim js does not support jquery tooltip -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>


$(document).ready(function() {
    $(".update").hover(
        function(){
            $(this).css("background-color", "#FF7C6F");
            $(this).css("color", "white");
            
            console.log('hover')},
        function(){
            console.log('not hover')
            $(this).css("background-color", "#CE3F3F");
            $(this).css("color", "white");
        }
    );

    $(".delete").hover(

        function(){
            $(this).css("background-color", "#ff1c1c");
            $(this).css("color", "white");
            
            console.log('hover')},
        function(){

            console.log('not hover')
            $(this).css("background-color", "#820B0B");
            $(this).css("color", "white");
        }
    );

    $(".sembuh").hover(
        function(){
            $(this).css("background-color", "rgb(131, 212, 131)");
            $(this).css("color", "white");
            console.log('hover')},
        function(){
            console.log('not hover')
            $(this).css("background-color", "rgb(60, 168, 60)");
            $(this).css("color", "white");
        }
    );

    $(".meninggal").hover(
        function(){
            $(this).css("background-color", "#924949");
            $(this).css("color", "white");
            
            console.log('hover')},
        function(){
            console.log('not hover')
            $(this).css("background-color", "#2c1313");
            $(this).css("color", "white");
        }
    );


    $(document).tooltip(
        {
            show: null,
            position: {
                my: "left top",
                at: "left bottom"
        },
        open: function(event, ui) {
            ui.tooltip.animate({ top: ui.tooltip.position().top + 10}, "fast");
        }
    
    }
    );

    $.ajax({
                url: "/patients", 
                dataType: "json",

                
                success: function(result) {
                    console.log(result)
                    $('.results').append(`<tr>
                    <th>Nama</th>
                    <th>Umur</th>
                    <th>Alamat</th>
                    <th>Status Covid</th>
                    <th>Update</th>
                    <th>Remove</th>
                    <th>Sembuh</th>
                    <th>Meninggal</th>
                </tr>`)
                    for (i = 0; i < result.length; i++) {
                        console.log(result[i])
                        updateUrl = `/edit/${result[i]['id']}`
                        deleteUrl = `/delete/${result[i]['id']}`
                        sembuhUrl = `/sembuh/${result[i]['id']}`
                        meninggalUrl = `/meninggal/${result[i]['id']}`
                        $('.results').append(`
                        <tr>
                        <td>${result[i]['nama']}</td>
                        <td>${result[i]['umur']}</td>
                        <td>${result[i]['alamat']}</td>
                        <td>${result[i]['status']}</td>
                        <td><a title="Update the detail" style= 'background-color: #CE3F3F; color: white;' class="update btn btn-sm" href="${updateUrl}">Update</a></td>
                        <td><a title="Delete the pasient from data" style= 'background-color: #820B0B; color: white;' class="delete btn btn-sm" href="${deleteUrl}">Delete</a></td>
                        <td><a title="Delete the pasient from data and increase the total number of people recovered" style= 'background-color: rgb(60, 168, 60); color: white;' class="sembuh btn btn-sm" href="${sembuhUrl}">Sembuh</a></td>
                        <td><a title="Delete the pasient from data and increase the total number of deaths" style= 'background-color: #2c1313; color: white;' class="meninggal btn btn-sm" href="${meninggalUrl}">Meninggal</a></td>

                    </tr>
                        `);

                    }
                },

                type: 'GET'
            });
        




});

</script>
{% endblock meta %}


{% block content%}


    <div class="col-lg-12 col-md-6 utama" style="display: none;">
        <h2><P style="text-align: center;padding: 20px 0px 20px;">Daftar Pasien</P></H2>
    </div>
    {% if pasien2 %}
    <div class="col secondary" style="display: none;">
            <table class="table table-sm daftarpas shadow results">
                <!-- <tr>
                    <th>Nama</th>
                    <th>Umur</th>
                    <th>Alamat</th>
                    <th>Status Covid</th>
                    <th>Update</th>
                    <th>Remove</th>
                    <th>Sembuh</th>
                    <th>Meninggal</th>
                </tr>

                {% for pasien in pasien2 %}
                    <tr>
                        <td>{{pasien.nama}}</td>
                        <td>{{pasien.umur}}</td>
                        <td>{{pasien.alamat}}</td>
                        <td>{{pasien.status}}</td>
                        
                        <td><a title="Update the detail" style= 'background-color: #CE3F3F; color: white;' class="update btn btn-sm" href="{% url 'DataPasien:update' pasien.id %}">Update</a></td>
                        <td><a title="Delete the pasient from data" style= 'background-color: #820B0B; color: white;' class="delete btn btn-sm" href="{% url 'DataPasien:delete' pasien.id %}">Delete</a></td>
                        <td><a title="Delete the pasient from data and increase the total number of people recovered" style= 'background-color: rgb(60, 168, 60); color: white;' class="sembuh btn btn-sm" href="{% url 'DataPasien:sembuh' pasien.id %}">Sembuh</a></td>
                        <td><a title="Delete the pasient from data and increase the total number of deaths" style= 'background-color: #2c1313; color: white;' class="meninggal btn btn-sm" href="{% url 'DataPasien:meninggal' pasien.id %}">Meninggal</a></td>

                    </tr>
                {% endfor %}
 -->

            </table>
        
    </div>
    {% else %}
    <div class="container utama">
        <h2 class="border shadow rounded" style="padding:10px; text-align: center;">Tidak ada data pasien.</h2>
    </div>
    {% endif %}
{% endblock %}