{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sembuh</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- Slim js does not support jquery tooltip -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock meta %}

{% block content%}

<br>
<div class="row justify-content-center utama" style="display: none;">
	<div class="col-md-6">
		<div class="card card-body shadow">


			<p>Are you sure you want to change status to negative? "{{yangdiapus.nama}}"?</p>

			<form action="{% url 'DataPasien:sembuh' yangdiapus.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'DataPasien:listofpasien' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>
    
    
{% endblock %}