{% extends 'base.html' %}
{% block meta %}
<title>Pengumuman</title>
{% endblock meta %}

{% block content %}
{% load static %}
<style>

    body{
      
        background-image: url(../../static/css/dokter.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 50vh 100vh;
        background-position-y: 10px;
    }
    
    .tengah{
        text-align: center;
    }
    
    .button{
        color:#ffffff;
        font-weight: bolder; 
        font-size: 20px;
        border-radius: 12px;
        background-color:  #CF2B2B ;
    }
    .button:hover{
        color: #CF2B2B;
    }

</style>


<div class="tengah">
    <h1 style="color: #CF2B2B; font-weight: bolder; padding: 20px; padding-bottom: 10px; ">Pengumuman</h1> 
        <a href="/tambah/">
            <button style="font-size: 17px; " type="button" class="btn btn-light button">tambah pengumuman</button>
        </a>
        <br> <br>
        <input type="text" id="input" placeholder="Cari pengumuman" style="border-radius: 10px; border-color :lightgrey;">
</div>

    <div id= "konten" class="d-flex justify-content-around flex-wrap pb-4">
        {% for konten in list %}

        <div  class="card bg-white mt-5" style="border:0px;width: 18rem; ">
            {% if konten.penting %}
                <div id="header" class="card-header" style="background-color: #ffb600; color: #ffffff;">
                    <div class="row">
                        <h5 class="col-10 mb-2" style="font-weight: bolder;">{{ konten.judul }}</h5>
                        <a href="/hapus/{{konten.id}}/" class="col-2">
                            <button type="button" class="close mb-2" style="color: #ffffff;">&times;</button>
                        </a>
                    </div>
                    <div class="tulisan" style="padding: 0px; font-size: 15px;">urgent! click for detail</div>
                </div>
            
            {% else %}
                <div id= "header" class="card-header" style="background-color: #CF2B2B; color: #ffffff;">
                    <div class="row">
                        <h5 class="col-10 mb-2" style="font-weight: bolder;">{{ konten.judul }}</h5>
                        <a href="/hapus/{{konten.id}}/" class="col-2">
                            <button type="button" class="close mb-2" style="color: #ffffff;">&times;</button>
                        </a>
                    </div>
                    <div class="tulisan" style="padding: 0px; font-size: 15px;">click for detail</div>
                </div>

            {%endif%}

            <div id="body" class="card-body" >
                {{ konten.detail }}
            </div>

            <div class="card-footer text-muted" >
                <small> {{ konten.tanggal }}</small>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/pengumuman.js' %}"></script>



{% endblock %}