{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hapus Data Staff</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'info.js' %}"></script>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <div class='my-4'>
        <form action='/hapus/' method="POST">{% csrf_token %}
        <h1 class="display-4" style="color: #CF2B2B;">Hapus Data Pegawai</h1>
            Nama
            <p><input id='nama' class="form-control" type='text' name='nama' placeholder="Masukkan Nama" required>
                </p>
            <input class="btn btn-danger" type="submit" value="Hapus">
            </form>
            </div>    
    </div>
{%else%}
    <h1>Silahkan Login Terlebih Dahulu</h1>
{%endif%}
{% endblock %}
