
{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}

{% block meta %}
<title>Daftar Data Staff</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'info.js' %}"></script>
{% endblock meta %}

{% block content %}
    <div class="container">
    <h2 class="display-4" style="padding-top: 20px; padding-bottom: 10px; color: #CF2B2B;">Daftar Staff</h2>
    <input type="text" id="input" placeholder="Cari Staff berdasarkan nama.." style="border-radius: 5px;">
    <table class="table table-bordered">     
        <thead>
        <tr>
            <th scope="col" ></th>
            <th scope="col">Nama</th>
            <th scope="col">Alamat</th>
            <th scope="col">Nomor Telepon</th>
        </tr>
        </thead>
        <tbody id='list-group'>
    {% for o in all_profile %}
        <tr id='list-group-item'>
            <td style="text-align: center;">
                <img src = "{{o.foto.url}}" class="rounded-circle" height= "100px" width="100px"/>
            </td>
            <td>{{o.nama}}</td>
            <td>{{o.alamat}}</td>
            <td>{{o.no_telp}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% if user.is_authenticated %}
    <a class="btn btn-danger" href="/formpegawai/" role="button">Input Staff</a>
    <a class="btn btn-danger" href="/formhapus/" role="button">Hapus</a>
    {% else %}
    <a class="btn btn-danger" href="/login/" role="button">Input Staff</a>
    <a class="btn btn-danger" href="/login/" role="button">Hapus</a>
    {%endif%}
{% endblock %}
