{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}
{% block meta %}
<title>Input Data Staff</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'info.js' %}"></script>
{% endblock meta %}



    {% block content %}
    {% if user.is_authenticated %}
    <div class="container">
        <div class='my-4'>
        <form action='/ubahinfo/' method="POST" enctype="multipart/form-data">{% csrf_token %}
        <h1 class="display-4">Masukkan Data Staff</h1>
            Nama
            <p><input id='nama' class="form-control" type='text' name='nama' placeholder="Masukkan Nama" required>
                </p>
            Alamat
            <p><input id='alamat' class="form-control" type='text' name='alamat' placeholder="Masukkan Alamat">
            </p>
            Nomor Telepon
            <p><input id='no_telp' class="form-control" type='text' name='no_telp' placeholder="Masukkan Nomor Telepon">
            </p>
            Foto
            <p><input id='foto' class='form-control-file' type='file' name='foto' placeholder='Masukkan Foto'></p>
                <input class="btn btn-danger" type="submit" value="Submit">
            </form>
            </div>    
    </div>
    {%else%}
    <h1>Silahkan Login Terlebih Dahulu</h1>
    {%endif%}
    {% endblock %}
