{% extends 'base.html' %}
{% block meta %}
<title>Pengumuman</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halaman {{nama}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
{% endblock meta %}

{% block content %}
{% load static %}
<style>
    body{

        background-image:  url('{% static "img/coorna.png" %}'), linear-gradient(180deg, #CF2B2B 22.92%, #FFFFFF 100%);
        background-repeat: no-repeat,no-repeat;
        background-position: top left;
        background-position-y:  -60px, 0px;
        background-position-x: -180px,0px;
        background-attachment: fixed;

    }
    #kotak{
        margin: auto;
    }

    @media (max-width: 768px){
        body{
            background-position-y:  0px, 0px;
            background-position-x: -130px,0px;
            background-size: 300px, auto;
    }

    }


</style>

    <div class ="container-fluid">      
    <br>
    <br>
    <h1 style= "text-align: center; color: #FFFFFF;">Selamat Datang!</h1>
    <h4 style= "text-align: center; color: #FFFFFF;">Silahkan {{nama}} ke website</h4>
    
    {%for message in messages%}
    <div style="font-weight: bolder; color:orange; text-align: center; ">
       {{message}}
    </div>
    {%endfor%}
    <br> 

   
    <div class="row" style="margin: auto; ">
        <div class="col-md-4 col-md-offset-4" id="kotak" >
            <div class='form-group'>
                <form action="" method="POST" style="color: #FFFFFF;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div style="display: flex; flex-direction: row;">
                        <input type="submit" class="btn btn-secondary" value="Submit" id="submit" style="margin-right: 10px; background-attachment: fixed;">

                    </div>
                   
                </form>
            </div>
        </div>
    </div>
    {% if nama == "masuk" %}
    <div style="text-align: center; color: #FFFFFF;">
        <small >Belum mempunyai akun? <a href="/signup" style="color:  #CF2B2B;">Sign Up</a></small>
    </div>
   
    {%endif%}

 

    
    </div>

  

{% endblock %}
