{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Add {{tipe}} to {{tipe2}}</title>
<link rel="stylesheet" href="{% static 'css/css.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/forum.js' %}"></script>

<style>
     body{
        font-family: 'Montserrat', sans-serif;
        background-image: url("../../static/css/obat.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 120vh 130vh;
    }



</style>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="margin: auto;">
        {% if user.is_authenticated %}
        <div class="col-md-4 col-md-offset-4" style="margin: auto;">
            <br>
            <h3 style="color: #CF2B2B"> Add {{tipe}} to {{tipe2}}</h3>
            <br>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-secondary" type="submit" value="Submit">
                </form>
            </div>
        </div>
        {%else%}
        <br><br><br><br><br>
        <h2 style="margin: auto">Login untuk menambah {{tipe}} </h2>
        {%endif%}

    </div>
</div>

{% endblock content %}




