{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/css.css' %}">
<title>Postingan</title>
<style>
    h4{
        background-color: #CF2B2B;
        text-align: center;
        font-weight: bold;
    } 
    h3{
        color: #CF2B2B;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <br><br>
    <h4>Post</h4><br>
    {% if post %}
        <div class="list-group">
            <div class="list-group-item list-group-item-action">
                <small>{{post.tanggal_post}}</small><br>
                <h5>{{post.nama}}</h5><br>
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">{{post.judul}}</h3>
            </div>
            <h2 style = "word-break: normal; ">{{post.pesan}} </h2>
        </div>
        </div>
        
    {% endif %}
    <br><br>
    <h4>Comments</h4>
    
        {% if komen %}
            {% for k in komen %}
                <br>
                <div class="list-group">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{k.nama}}</h5>
                        <small>{{k.tanggal_komen}}</small>
                    </div>
                    <p id="komentar" class="mb-1" >{{k.komentar}} </p>
                    {% if user.is_authenticated %}
                    <small><a href="{% url 'forum:hapuskomen' k.id %}" style="color: black;">Hapus Komentar</a></small>
                    {% endif %}
                </div>
                
            {% endfor %}
        {% else %}
            <p> Tidak ada komentar dalam post ini.</p>
        {% endif %}
    {% if user.is_authenticated %}
        <hr>
        <a href="{% url 'forum:addkomen' post.id %}" class="btn btn-secondary btn-lg">Add New Comment</a>
    {% else %}
    <hr>
    <p> Login untuk menambah komentar</p>
    {% endif %}
    
            
    <hr>
</div>




{% endblock content %}
