{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/css.css' %}">
<title>Forum</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/forum.js' %}"></script>



{% endblock meta %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 class="display-4" style="color:#CF2B2B; font-weight: bold;">Forum</h3>
    </div>
</div>
<div class="container-fluid">
    <a href="{% url 'forum:addpost' %}" class="btn btn-secondary btn-lg btn-block" style="background-color: #CF2B2B; color: white; font-weight: bold;">Add New Post</a>
    <hr>
    <input type="text" id="input" placeholder="Cari post dengan topik.." style="border-radius: 5px;">
    <br><br>
    {% if post %}
        <div class="list-group">
            {% for pp in post %}
            <div>            
                <a href="{% url 'forum:comment' pp.id %}" class="list-group-item" style="background-color: #96908cb6; color: white; border-radius: 10px;">
                    
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{pp.nama}}</h5>
                        <small>{{pp.tanggal_post}}</small>
                    </div>
                    <p class="mb-1">{{pp.judul}} </p>
                    <p class="mb-1">{{pp.pesan}} </p>

                    {% if user.is_authenticated %}
                    <small><a href="{% url 'forum:hapuspost' pp.id %}" style="color: black;"> Hapus Postingan</a></small>
                    {% endif %}
                    
                </a>
                <small><button class="hide" style= "border-radius: 10px; background-color: grey; color:white;" >Hide</button> </small>  
                <br>
                <br>
            </div>
            {% endfor %}
        </div>        
        
    {% else %}
        <p> Tidak ada postingan di dalam forum ini.</p>
    {% endif %}

</div>

{% endblock content %}
